.code-editor {
  position: absolute;
  left: 315px;
  top: 60px; }
  .code-editor h1 {
    color: red; }

.console .console-divider {
  width: 1120px;
  height: 30px;
  position: absolute;
  top: 610px;
  left: 315px;
  background-color: black; }

.console .evaluated-code {
  width: 1120px;
  height: 120px;
  position: absolute;
  background-color: grey;
  top: 640px;
  left: 315px; }

.navbar-side {
  background-color: #21252c;
  position: absolute;
  border-right: 2px solid red;
  top: 60px;
  padding-left: 15px;
  height: 100%;
  width: 300px; }
  .navbar-side h1 {
    color: grey; }

.navbar-top {
  background: #21252c;
  border-bottom: 1px solid grey;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0; }
  .navbar-top h1 {
    color: white; }
  .navbar-top h2 {
    color: lightgrey; }
  .navbar-top .navbar-logo {
    float: left;
    margin: 20px;
    padding: 0 10px; }
  .navbar-top .navbar-login {
    float: right;
    margin: 20px; }

.tree-folders h1 {
  color: green; }

html {
  background-color: #21252c; }

body {
  background-color: #21252c; }
