#brace-editor {
  margin: 0px; }

.code-editor {
  padding-left: 0px;
  padding-right: 0px; }
  .code-editor .commit-push {
    float: right;
    margin-right: 10px; }

.console .console-divider {
  height: 40px;
  width: 1070px;
  background-color: black; }
  .console .console-divider .run-button {
    margin: 5px 10px 5px 10px; }
  .console .console-divider .clear-button {
    margin: 5px 10px 5px 10px; }

.console .evaluated-code {
  height: 120px;
  width: 1070px;
  font-size: 13px;
  font-weight: 200;
  color: white;
  background-color: #21252c;
  border: 2px solid black;
  padding-left: 10px; }

.navbar-side {
  overflow: auto;
  background-color: #21252c;
  height: 700px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding-left: 15px;
  padding-right: 0px; }
  .navbar-side h1 {
    color: grey; }

.navbar-top {
  background: #21252c;
  border-bottom: 2px solid black;
  height: 60px; }
  .navbar-top h1 {
    color: white; }
  .navbar-top h2 {
    color: lightgrey; }
  .navbar-top .navbar-logo {
    float: left;
    margin: 20px;
    padding: 0 10px; }
  .navbar-top .navbar-login {
    float: right;
    background-color: grey;
    width: 180px;
    height: 60px; }

.tree-folders h1 {
  color: green; }

html {
  background-color: #21252c; }

body {
  background-color: #21252c;
  margin: 0px; }

.invalid-feedback {
  display: block; }
