.navbar-top {
  background: #272922;
  border-bottom: 2px solid black;
  height: 60px;
  margin-bottom: 0px; }
  .navbar-top h1 {
    color: white; }
  .navbar-top h2 {
    color: lightgrey; }
  .navbar-top .navbar-logo {
    float: left; }
  .navbar-top .navbar-login {
    float: right;
    background-color: grey;
    width: 180px;
    height: 58px; }
  .navbar-top .btn.navbar-signout {
    float: right;
    margin-right: 20px;
    margin-top: 10px; }

.navbar-side {
  overflow: auto;
  background-color: #21252c;
  height: 700px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding-left: 25px;
  padding-right: 0px; }
  .navbar-side .fa-github {
    color: white;
    font-size: 70px; }

.tree-folders h1 {
  color: green; }

#brace-editor {
  margin: 0px; }

.code-editor {
  font: 12px / normal "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  padding-left: 0px;
  padding-right: 0px; }
  .code-editor .commit-push {
    float: right;
    margin-top: 5px;
    margin-right: 10px; }

.ace_editor {
  font: 12px / normal "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace; }

.console .console-divider {
  height: 48px;
  background-color: #21252c;
  border-top: 1px solid #21258c;
  border-bottom: 1px solid #21258c;
  margin-right: 0px; }
  .console .console-divider .run-button {
    margin: 5px 10px 5px 10px; }
  .console .console-divider .clear-button {
    margin: 5px 10px 5px 10px; }

.console .evaluated-code {
  height: 110px;
  font: 12px / normal "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-weight: 200;
  color: darkgrey;
  background-color: #272922;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 0px; }

html {
  background-color: #21252c; }

body {
  background-color: #21252c;
  margin: 0px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.col-xl-12 {
  height: 60px;
  padding-left: 0px;
  padding-right: 0px; }

.invalid-feedback {
  display: block; }

.spinner {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 8px solid #ddd;
  border-top: 8px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px; }

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
