// .ace_editor {
//     font-family: monospace !important;
// }
// .ace_content {
//   font-family: monospace !important;
// }
#brace-editor {
  margin: 0px;
}

.code-editor {
  padding-left: 0px;
  padding-right: 0px;
  .commit-push {
    float: right;
    margin-right: 10px;
  }
}
