.console .console-divider {
  height: 30px;
  background-color: black; }

.console .console-tab {
  height: 26px;
  background-color: #21252c; }

.console .evaluated-code {
  height: 120px;
  font-size: 13px;
  font-weight: 200;
  color: white;
  background-color: #21252c;
  border-bottom: 2px solid black;
  padding-left: 10px; }
