$primaryColor: #21252c;
$marginLeft: 318px;
.console {
  .console-divider {
    height: 40px;
    width: 1070px;
    background-color: black;
    .run-button {
      margin: 5px 10px 5px 10px;
    }
    .clear-button {
      margin: 5px 10px 5px 10px;
    }
  } //   .console-tab {
  //     width: 80px;
  //     height: 26px;
  //     background-color: $primaryColor;
  //   }
  .evaluated-code {
    height: 120px;
    width: 1070px;
    font-size: 13px;
    font-weight: 200;
    color: white;
    background-color: $primaryColor;
    border: 2px solid black;
    padding-left: 10px;
  }
}
