$primaryColor: #21252c;
$marginLeft: 318px;
.console {
    .console-divider {
        // z-index: -5;
        // width: 1120px;
        height: 30px; // position: absolute;
        // top: 620px; // left: $marginLeft;
        background-color: black;
    }
    .console-tab {
        // z-index: -5;
        // width: 80px;
        height: 26px; // position: absolute;
        // left: 350px;
        // top: 622px;
        background-color: $primaryColor; // left: $marginLeft;
    }
    .evaluated-code {
        // z-index: -5;
        // width: 1120px;
        height: 120px;
        font-size: 13px;
        font-weight: 200; // position: absolute;
        color: white;
        background-color: $primaryColor;
        border-bottom: 2px solid black; // top: 650px;
        // left: $marginLeft;
        padding-left: 10px;
    }
}