$primaryColor: #21252c;
.navbar-side {
    background-color: $primaryColor; // float: left;
    position: absolute;
    border-right: 2px solid red;
    top: 60px;
    padding-left: 15px;
    height: 100%;
    width: 300px;
    h1 {
        color: grey;
    }
}