.navbar-side {
  overflow: auto;
  background-color: #21252c;
  height: 700px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding-left: 15px;
  padding-right: 0px; }
  .navbar-side h1 {
    color: grey; }
