.navbar-side {
  background-color: #21252c;
  position: absolute;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  top: 62px;
  padding-left: 15px;
  height: 708px;
  width: 300px; }
  .navbar-side h1 {
    color: grey; }
