.navbar-side {
  background-color: #21252c;
  position: absolute;
  border-right: 2px solid red;
  top: 60px;
  padding-left: 15px;
  height: 100%;
  width: 300px; }
  .navbar-side h1 {
    color: grey; }
