.navbar-top {
  background: #272922;
  border-bottom: 2px solid black;
  box-shadow: 0 8px 6px -6px black;
  height: 60px;
  margin-bottom: 0px; }
  .navbar-top h1 {
    color: white; }
  .navbar-top h2 {
    color: lightgrey; }
  .navbar-top .navbar-logo {
    float: left;
    margin: 20px;
    padding: 0 10px; }
  .navbar-top .navbar-login {
    float: right;
    background-color: grey;
    width: 180px;
    height: 58px; }
  .navbar-top .btn.navbar-signout {
    float: right;
    margin-right: 20px;
    margin-top: 10px; }
