.tree-folders {
  padding-left: 15px;
  font: 16px / normal "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace; }

.spin-div {
  display: flex;
  justify-content: center; }

.spinner {
  margin-top: 180px; }
